#product_name{
    font-size: 24px;
    font-weight: bold;
}

#price{
    font-size: 24px;
    font-weight: bold;
}

#quantity{
    width: 35px;
}

.descr_attr_name{
    color: #637381;
    font-size: 14px;
}

.descr_attr_value{
    font-size: 14px;
}

