<button type="button" class="btn btn-primary" onclick="returnToParentPage();">Turn back</button>        
<div class="page-header">
    <h1><?php echo $article_title; ?></h1>
</div>
<label><?php echo $article_content; ?></label>
<!--
    <button type="button" class="btn btn-default" onclick="returnToParentPage()">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </button> 
-->

<script>
    // we need this function for extracting the parent's url of the current url
    function returnToParentPage() {
        var current_url = window.location.href;

        var last_slash_index;
        for(i=current_url.length - 1;i>=0;i--) {
            if(current_url.charAt(i) == '/') {
                // the current character is the last slash of the current url
                last_slash_index = i;
                break;
            }
        }
        
        var parent_page_url = current_url.substr(0, i + 1);
        window.location.href = parent_page_url; // redirect to the parent url of the current url
    }
</script>
