<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <form name="myForm" method="post" action="" id="input" onsubmit="return validateForm()">
          <div class="input-group">
            <label for="title">Article title:</label><br>
            <input type="text" id="input_title" name="title" class="form-control" value="<?php echo $article_title; ?>">
          </div>

          <label for="content">Article content:</label><br>
          <textarea id="input_content" name="content" rows="4" cols="50" value=""><?php echo $article_content; ?></textarea>
          <br/>
          <br/>
          <input id="btn" type="submit" value="Save" onclick="">
          <br></br>
          <div id="exception_label" hidden class="alert alert-danger" role="alert">Some fields have been left empty</div>
      </form>
    </body>
</html>

<script>
    function validateForm() {
        var content = document.getElementById('input_content').value;
        var title = document.getElementById('input_title').value; // with innerHTML instead of value property the validation doesn't work

        var exception_label = document.getElementById('exception_label');

        if (title === "" || content === "") {
            exception_label.hidden = false; // unhide the exception_label
            return false; //avoid the submitting of the form
        } else {
            return true;
        }
    }
</script>

<style>
    #exception_label {
        color: black;
        background-color: red;
    }
</style>
