<tr>
    <td><?php echo $article_id; ?></td>
    <td><a href="./article/<?php echo $article_id; ?>"><?php echo $article_title; ?></a></td>
    <td><?php echo $creation_datetime; ?></td>
    <td><?php if($last_update_datetime != null): 
            echo $last_update_datetime;
        else:
            echo '-';
        endif;?>
    </td>
    <td>
        <div class="btn-group" role="group" aria-label="...">
            <a href="./article/view/<?php echo $article_id; ?>" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
            <a href="./article/remove/<?php echo $article_id; ?>" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
        </div>
    </td>
</tr>
