<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

         <!-- jQuery library -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 
         <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.19.11/URI.min.js"></script>
    </head>
    <style>
        .shift_text{
            padding-left: 30px; 
        }
    </style>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-1">
                    <div class="list-group">
                        <a href="#" class="list-group-item">Assortimento</a>
                        <a href="#" class="list-group-item shift_text">tutti i prodotti</a>
                        <a href="#" class="list-group-item shift_text">Formula 1</a>
                        <a href="#" class="list-group-item shift_text">Turismo & sport auto</a>
                        <a href="#" class="list-group-item shift_text">Veicoli stradali</a>
                        <a href="#" class="list-group-item shift_text">Rallye</a>
                        <a href="#" class="list-group-item shift_text">motocicli</a>
                        <a href="#" class="list-group-item shift_text">Vetrine</a>
                        <a href="#" class="list-group-item shift_text">Macchine di film</a>
                        <a href="#" class="list-group-item shift_text">Agricoltura</a>
                    </div>
                </div>
                <div class="col-xs-1">
                    <!-- empty -->
                    <h1 class="visible-xs-block">ciao</h1>

                </div>
                <div class="col-xs-10">
                    <!-- empty -->
                </div>
            </div>

            <div class="row">
                
            </div>
        </div>    
    </body>
</html>





